[package]
name = "rs-platform-explorer"
version = "0.1.0"
license = "MIT"
edition = "2021"

[dependencies]
strum = { version = "0.25.0", features = ["derive"] }
tui-realm-stdlib = { git = "https://github.com/fominok/tui-realm-stdlib", branch = "input-cursor-fix" }
tuirealm = "1.9.0"
bs58 = "0.5.0"
dpp = { path = "../platform/packages/rs-dpp", features = ["identity-serialization", "identity-serde-conversion", "random-documents", "random-identities", "random-document-types", "state-transition-signing"]}
rs-sdk = { path = "../platform/packages/rs-sdk"}
drive = { path = "../platform/packages/rs-drive" }
thiserror = "1"
serde = "1.0.188"
serde_json = "1.0.107"
toml = { version = "0.8.2", features = ["display"] }
dapi-grpc = { path = "../platform/packages/dapi-grpc", features = ["client"]}
rs-dapi-client = { path = "../platform/packages/rs-dapi-client"}
tokio = { version = "1.32.0", features = ["full"] }
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
strategy-tests = {path = "../platform/packages/strategy-tests"}
simple-signer = {path = "../platform/packages/simple-signer"}
reqwest = { version = "0.11.22", features = ["json"] }
hex = { version = "0.4.3"}
itertools = "0.11.0"
crossterm = { version = "0.27.0", features = ["event-stream"] }
futures = "0.3"
walkdir = "2"
rand = "0.8"
cli-clipboard = "0.4.0"
memoize = "0.4.1"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
dotenvy = "0.15.7"
envy = "0.4.1"
