[package]
name = "rs-platform-explorer"
version = "0.1.0"
license = "MIT"
edition = "2021"

[dependencies]
strum = { version = "0.25.0", features = ["derive"] }
tui-realm-stdlib = "1.3.0"
tuirealm = "1.9.0"
bs58 = "0.5.0"
dpp = { path = "../platform/packages/rs-dpp", features = ["identity-serialization", "identity-serde-conversion", "random-documents", "random-identities", "random-document-types", "state-transition-signing"]}
dash-platform-sdk = { path = "../platform/packages/rs-sdk"}
thiserror = "1"
serde = "1.0.188"
serde_json = "1.0.107"
toml = { version = "0.8.2", features = ["display"] }
dapi-grpc = { path = "../platform/packages/dapi-grpc", features = ["client"]}
rs-dapi-client = { path = "../platform/packages/rs-dapi-client"}
tokio = { version = "1.32.0", features = ["full"] }
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
strategy-tests = {path = "../platform/packages/strategy-tests"}
simple-signer = {path = "../platform/packages/simple-signer"}
reqwest = { version = "0.11.22", features = ["json"] }
hex = { version = "0.4.3"}
bip37-bloom-filter = { git = "https://github.com/dashpay/rs-bip37-bloom-filter", branch = "develop" }
itertools = "0.11.0"
crossterm = { version = "0.27.0", features = ["event-stream"] }
futures = "0.3.29"
walkdir = "2"
rand = "0.8"